/* Header.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  color: var(--color-brand-600);
  cursor: pointer;
  transition: filter 0.2s ease;
}

.logo-img {
  width: 28px;
  height: 28px;
  margin-right: 6px;
}

.logo-text {
  font-size: 24px;
  font-weight: 800;
}

.logo:hover {
  color: var(--color-brand-700);
}

.search-bar {
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
}

.search-input {
  border: none;
  outline: none;
  margin-right: 10px;
}

.menu-icon {
  margin-right: 5px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-button {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-brand-600);
  color: white;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.user-header-right {
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 9px;
}

.auth-button:hover {
  background-color: var(--color-brand-700);
}
